*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: max-content;
    margin: 30vh auto;
    position: relative;
}

.Heading {
    font-family: "Courier New", Courier, monospace;
    font-size: 50px;
    position: relative;
    width: max-content;
    margin: 40px auto;
}

.Heading::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    animation: Reveal 8s steps(37) 2s 1 forwards;
}

.Heading::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4px;
    opacity: 0;
    background-color: black;
    animation: Reveal 8s steps(37) 2s 1 forwards,
        Blinker 500ms infinite forwards;
}

@keyframes Reveal {
    to {
        left: 100%;
    }
}

@keyframes Blinker {
    to {
        opacity: 1;
    }
}

.headingcont {
    height: 200px;
    width: 1300px;
    padding: 50px 0px;
    background-color: white;
}

img {
    width: 40px;
    position: relative;
    top: 10px;
    margin-left: 10px;
}

p {
    display: inline;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
}

.bottom {
    width: max-content;
    transform: translateY(30px);
    opacity: 0;
    animation: FadeIn 2s ease-in 11s 1 forwards;
    margin: 30px auto;
}

@keyframes FadeIn {
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.Logo {
    width: 200px;
    display: block;
    margin: 0 auto;
}

/* Shahain */